@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --jauneLogoAssu: #FCBC04;
    --bleuLogoAssu: #0474BC;
}
*{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}
.boutonAccueil{
    margin: 5px;
    text-align: center;
    font-weight: bolder;
    width: 200px;
    padding : 15px;
    border-radius: 20px;
    background-color: var(--bleuLogoAssu);
    color: var(--jauneLogoAssu);
    text-transform: uppercase;
    transition: all linear 0.2s;
    cursor: pointer;
    border: solid var(--bleuLogoAssu) 2px ;
}
.boutonAccueil:hover{
    border: solid var(--jauneLogoAssu) 2px ;
    background-color: #0474BCEE;

}
#assuRetraite{
    position: fixed;
    width: 200px;
}
#partie1, #partie2{
  width: 100%;
}
.boutonFormulaire{
    margin: 5px;
    text-align: center;
    font-weight: bolder;
    width: 150px;
    margin-top: 20px;
    padding : 15px;
    border-radius: 20px;
    background-color: var(--bleuLogoAssu);
    color: white;
    text-transform: uppercase;
    transition: all linear 0.2s;
    cursor: pointer;
    border: solid var(--bleuLogoAssu) 2px ;
}
.boutonFormulaire:hover{
    border: solid white 2px ;
    background-color: #0474BCEE;

}
#partie2{
    display: none;
}

.wrapper{
  max-width: 50%;
  width: 100%;
  background-color: #fff;
  margin: 50px auto;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.125);
  padding: 30px;
  border: 4px var(--jauneLogoAssu) solid ;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper .title{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
  color: var(--bleuLogoAssu);
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label{
   width: 200px;
   color: var(--bleuLogoAssu);
   margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input{
  width: 90%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .custom_select select:focus{
  border: 1px solid var(--jauneLogoAssu);
}

.wrapper .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.wrapper .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.wrapper .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.wrapper .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid var(--jauneLogoAssu);
  display: block;
  position: relative;
}
.wrapper .form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: var(--jauneLogoAssu);
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}

.testest{
  display: flex;
  flex-direction: column;
}